.game-page{
    width: 100%;
    height: 100%;
}

.time-counter{
    left: 3%;
    top:3%;
    width:15%;
    height: 5%;
}

.upper-panel{
    left: 18%;
    top: 16%;
    width: 60%;
    height: 31.25%;
    background-color: #ffffff;
    border-radius: 50px;
    border-style: solid;
    border-color: #c60505;
    border-width: 10px;
    position: fixed;
}
.middle-dice{
    left: 41.5%;
    top: 50.25%;
    width: 110px;
    height: 110px;
    position: fixed;
}
.lower-panel{
    left:18%;
    top:58.5%;
    width:60%;
    height:31.25%;
    background-color: #ffffff;
    border-radius: 50px;
    border-style: solid;
    border-color: #4835d8;
    border-width: 10px;
    position: fixed;
}
.oppenent{
    left: 80%;
    top: 11.5%;
    width: 120px;
    height: 90px;
    position: fixed;
}
.me{
    left: 85%;
    top: 90.5%;
    width: 60px;
    height: 70px;
    position: fixed;
}
.biao1{
    left: 26%;
    top: 11%;
    width: 46%;
    height: 70px;
    position: fixed;
}

.biao2{
    left: 26%;
    top: 91.5%;
    width: 46%;
    height: 70px;
    position: fixed;
}
.game-setting{
    left: 5%;
    top: 6%;
    width: 70px;
    height: 70px;
    position: fixed;
}
